<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pessoa</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Academico</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/pessoa/">Pessoa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/instituicao/">Instituição</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/area/">Área do Saber</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/curso/">Curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/semestre/">Semestre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/disciplina/">Disciplina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/matricula/">Matricula</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/TipoAvaliacao/">Tipo de Avaliação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/avaliacao/">Avaliação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/frequencia/">Frequencia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/ocorrencia/">Ocorrencia</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-dark" href="/periodo/">Periodo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/disciplinaporcurso/">Disciplina por curso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/cidades/">Cidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/ocupacao/">Ocupações</a>
      </li>
      </ul>
    </div>
</nav>

  <div class="container mt-5">
    <h2 class="mb-4">Tabela de pessoas</h2>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Ocupação</th>
          <th scope="col">pai</th>
          <th scope="col">mãe</th>
          <th scope="col">cpf</th>
          <th scope="col">Data de nascimento</th>
          <th scope="col">e-mail</th>
          <th scope="col">cidade</th>
        </tr>
      </thead>
      {% for Pessoa in pessoa %}
      <tbody>
        <tr>
          <td>{{Pessoa.nome}}</td>
          <td>{{Pessoa.ocupacao}}</td>
          <td>{{Pessoa.pai}}</td>
          <td>{{Pessoa.mae}}</td>
          <td>{{Pessoa.cpf}}</td>
          <td>{{Pessoa.data_nascimento}}</td>
          <td>{{Pessoa.email}}</td>
          <td>{{Pessoa.cidade}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>



  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>